# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
venv/

# Logs & outputs
logs/
*.log

# Models / checkpoints
*.zip
*.pth
*.pt

# OS
.DS_Store
Thumbs.db
auv2d_runs
auv2d_runs_5nodes
auv2d_runs_7nodes
auv2d_runs_10nodes
auv2d_runs_13nodes